<style>
	.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
</style>
<ion-view view-title="Enthusiasts">
  <ion-content>
    <div class="list card">
	  	<!-- <div class="item item-avatar">    
	  	</div> -->
	  	<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/v7AYKMP6rOE" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      Yoga for Complete Beginners! Adriene welcomes all levels - complete and total beginners to start here! Hop on the mat and start to build the foundation of your own yoga practice with this 20 minute home workout video! Enjoy, stay mindful and find what feels good. 
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/Ci3na6ThUJc" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      This yoga for weight loss sequence is designed to reunite you with not just your abs but your mindful core. 
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/EC2D3dF6UiI" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      This is a beginner to intermediate vinyasa flow yoga class. If you are a beginner, please rest as much as you like and skip any poses that seem difficult for you. As you continue to practice, the poses will come. If you are an intermediate or advanced practitioner, please please rest and modify as you like or add more chatturanga's to challenge yourself. Always listen to your body and pay attention to your breath. Make this practice personal for you!
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/rQaENEaAHqc" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      Total Body Yoga Workout Vinyasa Flow
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/gQqE3tm7TjI" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      This is an instructional yoga video suitable for people with a regular yoga practice. It's a 30 minute vinyasa flow video with an emphasis on strength building and flexibility. Begin with a warm up and then start this video. Always work within a pain-free range.
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/0o0kNeOyH98" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      Yoga for complete beginners. 20 minute gentle yoga class to give you greater relaxation, more energy and joy. Relaxation pose and crocodile poses to relax the lower back. Shoulder exercises to relax the neck and shoulders. Sitting forward bend for flexibility. Inclined plane for strengthening the back. Spinal twist for good massage of the abdominal organs. Final relaxation to really let go. You will feel full refreshed and recharged.
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/PcC8hZPwj6w" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      Join Sarah through this gentle, vinyasa based yoga flow, designed for all skill levels. This class covers many of the basic postures found in any given yoga class and is both short and thorough. Sarah leads you throw the postures with easy to follow instructions that leave you feeling refreshed and rejuvenated. At only 42 min, this flow is perfect for a yoga class during a lunch break or any time during the day your body needs a lift.
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
		<div class="item item-body">
	    	<div class="video-container">
		      	<iframe src="https://www.youtube.com/embed/4PgIfOOHwH8" frameborder="0" width="560" height="315"></iframe>
		  	</div>
		    <p>
		      Led by inspirational teacher and "Yoga Rebel" Tara Stiles, The Yoga Solution is a weekly series that offers fun and simple ways for yoga to help improve your life. Whether you're new to yoga or have been practicing for years, Tara's easy-to-follow and approachable manner will guide you towards living well every day.
		    </p>
		    <!-- <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p> -->
		</div>
		
	</div>
  </ion-content>
</ion-view>
